#PoisFFT
PoisFFT/bin/gcc
PoisFFT/bin/objs/*
PoisFFT/lib
PoisFFT/src/out*.txt
PoisFFT/src/*.out
PoisFFT/PoissonSolverSlides.odp
PoisFFT/src/CMakeLists.txt
PoisFFT/

#in-house poisson solver at https://github.com/NathanChiu/poissonsolver
poissonsolver/*.txt
poissonsolver/perf*
poissonsolver/profres*
poissonsolver/*.tar.gz
poissonsolver/*.svg
poissonsolver/*.gp
poissonsolver/*.out
poissonsolver/*.cmake
poissonsolver/CMakeFiles
poissonsolver/*.m
poissonsolver/src/TEST
poissonsolver/src/CMakeLists.txt
poissonsolver/

#University of Buffalo at http://www.physics.buffalo.edu/phy410-505/topic6/
ubuff/

#FEM data
FEM/data
FEM/bin
FEM/src/bin
FEM/src/build
FEM/*.txt
FEM/src/python/phys_connector_swig/__pycache__
FEM/src/python/phys_connector_swig/*.cxx
FEM/src/python/phys_connector_swig/*.so
FEM/src/python/*.so
FEM/src/python/phys_connector_swig/*.cpp

#dependencies directory when building and installing dependencies from script
dependencies/

#ignore all object files
*.dblite
*.o
*.idea*
*cmake-build-debug*
*.png
*.xml
!engine_description.xml
*.pos
*.pyc
*.d
