#PoisFFT at https://github.com/LadaF/PoisFFT
PoisFFT/bin
PoisFFT/lib
PoisFFT/src/out*.txt
PoisFFT/src/*.out
PoisFFT/PoissonSolverSlides.odp

#in-house poisson solver at https://github.com/NathanChiu/poissonsolver
poissonsolver/outfile*.txt
poissonsolver/perf*
poissonsolver/profres*
poissonsolver/*.tar.gz
poissonsolver/*.svg

#University of Buffalo at http://www.physics.buffalo.edu/phy410-505/topic6/
ubuff/cmake-build-debug

#ignore all object files
*.o
*.idea*
*cmake-build-debug*
*.png
*.xml
